/* Logo */
/* Adapted from Zachary Blackwood */
/* [data-testid="stSidebar"] {

                background-image: url(https://streamlit.io/images/brand/streamlit-logo-secondary-colormark-darktext.png);
                background-size: 200px;
                background-repeat: no-repeat;
                background-position: 4px 20px;
            } */

/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v2 {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5% 5% 5% 10%;
  border-radius: 5px;

  border-left: 0.5rem solid #9ad8e1 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

label.css-mkogse.e16fv1kl2 {
  color: #36b9cc !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}

/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}

.css-hxt7ib {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.css-1oyhl2h {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /*   padding: 1rem; */
  background-color: transparent;
  border-radius: 0.25rem;
  color: rgb(250, 250, 250);
  margin-top: -35px;
}

.css-1lsmgbg {
  display: none;
  color: rgba(250, 250, 250, 0.4);
  flex: 0 1 0%;
  font-size: 14px;
  max-width: 46rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.css-pmxsec .exg6vvm14 {
  display: none;
}

.css-1oyhl2h {
  padding: 0;
}

.block-container.css-128j0gw.egzxvld2 .stMarkdown h2 {
  font-size: 20px;
  font-weight: bold;
}

.css-pmxsec.exg6vvm0 {
  padding-top: 5px;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
  margin-left: -10px;
}

.page_titel {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: bolder;
}

.css-12oz5g7 {
  flex: 1 1 0%;
  width: 100%;
  padding: 2rem 1rem 10rem;
  max-width: 55rem;
}

.css-12oz5g7 .stMarkdown h3 {
  font-family: "Open Sans", Times, serif;
  font-size: 30px;
  font-weight: bold;
}

.stSelectbox .css-k3w14i.effi0qh3 {
  font-size: 17px;
}

.css-pmxsec .exg6vvm15 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -45px;
}

.css-ocqkz7 {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  align-items: stretch;
  gap: 32px;
}

.stDownloadButton .edgvbvh9 {
  position: absolute;
  top: -467px;
  left: 6px;
}

.user-select-none {
  position: relative;
  width: 811px;
  top: 70px;
  height: 450px;
}

h1 {
  padding: 0;
  padding-bottom: 10px;
  user-select: none;
}

h2 {
  padding: 5px;
  user-select: none;
}

.css-1cxfcbo.e1tzin5v0 {
  width: 277px;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 10px;
}

span {
  user-select: none;
}

.css-16u8z0w {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 200;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 20px;
  line-height: 1.3;
  color: inherit;
  width: auto;
  user-select: none;
  background-color: rgb(43, 44, 54);
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.row-widget.stCheckbox {
  position: absolute;
  left: -75%;
  top: 5px;
}

.css-k3w14i {
  font-size: 13px;
  color: rgb(250, 250, 250);
  display: flex;
  visibility: visible;
  margin-bottom: 0px;
  height: auto;
  min-height: 1.5rem;
  vertical-align: middle;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.css-729dqf {
  display: none;
}

hr {
  margin: inherit;
  background-color: #ffffff;
}
